<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

        <head>
            <h1>

                First time on django
            </h1>
        </head>
            <h1>
                
              {% block header%}
<nav>
    <ul>
        <li>
            <a href="{% url 'home'%}">Home</a>
        </li>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
    </ul>
</nav>
              {% endblock header%}
            </h1>
    </header>
    <main>
        <h2>
            {% block content %}
            {% endblock content%}

        </h2>
    </main>


    
</body>
</html>